<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="KaisInjector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <userSettings>
  <KaisInjector.Properties.Settings>
   <setting name="AutoHide" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="InjectTo" serializeAs="String">
    <value>Minecraft.Windows.exe</value>
   </setting>
   <setting name="InjectDll" serializeAs="String">
    <value>[none selected]</value>
   </setting>
   <setting name="AutoInject" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TimeBetweenAutoInject" serializeAs="String">
    <value>1000</value>
   </setting>
   <setting name="EnableRpc" serializeAs="String">
    <value>False</value>
   </setting>
  </KaisInjector.Properties.Settings>
 </userSettings>
</configuration>